*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* background-color: #c04e58; */
    height: 1300px;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

header{
    height: 130px;
    background-color: #e579e6;
    margin-bottom: 30px;
}

section:first-child{
    background-color: #e1d67a;
    height: 450px;
    margin-bottom: 30px;

}

section:last-child{
    background-color: #0088f7;
    height: 600px;
    margin-bottom: 10px;
}

.second-section::after{
    content:'';
    display: table;
    clear: both;
}

.top-section{
    background-color: #abcfe7;
    height: 80px;
    margin-bottom: 25px;
}

.aside{
    width: 230px;
    height: calc(100% - 130px);
    background-color: #abcfe7;
    float: left;
}

.central-section{
    background-color: #abcfe7;
    width: 705px;
    height: calc(100% - 130px);
    float: left;
    margin: 0 25px;
}

footer{
    background-color: #8701fe;
    height: 50px;
}